<%-include('partial/header')-%>
<form action="/change-password" method="POST">
    <div class="form-group">
        <h1>Troque sua senha aqui</h1>
        <p style="padding-bottom: 5px;"></p>
        <label>Email</label>
        <input type="text" class="form-control" name="passwordEmail">
        <label>Nova senha</label>
        <input type="text" class="form-control" name="passwordNew">
      </div>
      <button type="submit">Salvar</button>
</form>
<%-include('partial/footer')-%>