<%-include('partial/header')-%>
<form action="/signup" method="POST">
    <div class="form-group">
        <h1>Digite seus dados abaixo</h1>
        <p style="padding-bottom: 5px;"></p>
        <label>Nome completo</label>
        <input type="text" class="form-control" name="signFullname">
        <label>Email</label>
        <input type="text" class="form-control" name="signEmail">
      </div>
      <div class="form-group">
        <label>Phone</label>
        <input type="text" class="form-control" name="signPhone">
      </div>
      <button type="submit">Registrar</button>
</form>
<%-include('partial/footer')-%>