<%-include('partial/header')-%>

<h1 style="margin-top: 8px;">Anote sua senha temporária, se perder terá que trocá-la</h1>
<p style="margin-top: 8px;"><%=tempPassword%></p>

<%-include('partial/footer')-%>