<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Blog</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <nav id="complete-navbar" class="navbar navbar-default">
    <div id="nav-left-button">
      <button id="posts-button" class="fa fa-bars" onclick="w3_open()"></button>
    </div>
    <div id="navbar-full" class="container">
      <div id="title-navbar" class="navbar-header">
        <p class="navbar-brand">GEORGE'S BLOG</p>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <!-- 6 -->
        <li id="home"><a href="/">BLOG</a></li>
        <li id="create-post"><a href="/create-post">PUBLICAR</a></li>
        <li id="signup"><a href="/signup">REGISTRE-SE</a></li>
        <li id="change-password"><a href="/change-password">TROCAR SENHA</a></li>
      </ul>
    </div>
  </nav>

<body>
  <div id="fullpage" class="container">